/* Tablet breaking point : 1025
mobile breaking poing : 768 */
.tmpenvo-sort-collapase-content {
  display: none;
}

.tmpenvo-filter-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.tmpenvo-select-label {
  text-align: left;
  font-size: 13px;
  padding: 5px;
  font-weight: 600;
}

.tmpenvo-sort-collapse-button {
  width: max-content;
  text-align: right;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px 34px;
  margin-bottom: 4px;
}

.tmpenvo-sort-filter {
  border-radius: 4px;
  border: 1px solid #efeeee;
}

.tmpenvo-ui {
  min-width: 250px;
}

.tmpenvo-list-taxon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

#tmpenvo-sort-filter .icon-box {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 2px 12px;
  border-radius: 5px;
}

.tmpenvo-list-taxon-main {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  padding: 5px 9px;
  width: 100%;
  margin: 3px 0px;
  border-radius: 5px;
}

#tmpenvo-sort-filter ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

#tmpenvo-sort-filter ul li {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 5px;
}

#tmpenvo-sort-filter label:hover {
  cursor: pointer;
}

#tmpenvo-sort-filter ul li label {
  position: relative;
  margin: 0;
}

#tmpenvo-sort-filter ul li label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#tmpenvo-sort-filter .icon-box {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 2px 12px;
  border-radius: 5px;
}

#tmpenvo-sort-filter .fa {
  transition: 0.5s;
  padding: 4px;
}

#tmpenvo-sort-filter ul li label input[type="checkbox"]:checked~.icon-box {
  box-shadow: 0 0 5px 0px #d8d8d8;
}

.tmpenvo-card-design-mul {
  flex-direction: column;
}

.tmpenvo-card-design-mul-inner-col-1, .tmpenvo-card-design-mul-inner-col-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tmpenvo-repeater-container {
  display: flex;
  width: 100%;
}

.tmpenvo-card-design {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}

.tmpenvo-cl-title {
  width: 100%;
}

.tmpenvo-cl-title-a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tmpenvo-cl-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tmpenvo-cl-content-a {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
}

.tmpenvo-cl-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tmpenvo-cl-image-a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tmpenvo-cl-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tmpenvo-cl-meta-a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.tmpenvo-cl-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tmpenvo-cl-rating-a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tmpenvo-cl-shortcode {
  width: 100%;
}

.tmpenvo-cl-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tmpenvo-cl-wooprice {
  display: table;
  width: 100%;
  word-break: break-word;
}

.tmpenvo-row {
  display: grid;
  max-width: 100%;
}

.tmpenvo-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

/* Target Large Devices  */
@media only screen and (min-width: 768px) {
  .tmpenvo-row-desk-1 {
    grid-template-columns: repeat(1, minmax(10%, 1fr));
  }

  .tmpenvo-row-desk-2 {
    grid-template-columns: repeat(2, minmax(10%, 1fr));
  }

  .tmpenvo-row-desk-3 {
    grid-template-columns: repeat(3, minmax(10%, 1fr));
  }

  .tmpenvo-row-desk-4 {
    grid-template-columns: repeat(4, minmax(10%, 1fr));
  }

  .tmpenvo-row-desk-5 {
    grid-template-columns: repeat(5, minmax(10%, 1fr));
  }

  .tmpenvo-row-desk-6 {
    grid-template-columns: repeat(6, minmax(10%, 1fr));
  }

  .tmpenvo-row-desk-7 {
    grid-template-columns: repeat(7, minmax(10%, 1fr));
  }

  .tmpenvo-row-desk-8 {
    grid-template-columns: repeat(8, minmax(10%, 1fr));
  }

  .tmpenvo-row-desk-9 {
    grid-template-columns: repeat(9, minmax(10%, 1fr));
  }

  .tmpenvo-row-desk-10 {
    grid-template-columns: repeat(10, minmax(9%, 1fr));
  }

  .tmpenvo-row-desk-11 {
    grid-template-columns: repeat(11, minmax(8%, 1fr));
  }

  .tmpenvo-row-desk-12 {
    grid-template-columns: repeat(12, minmax(6%, 1fr));
  }
}

/* Target Tablet Devices  */
@media (min-width: 500px) and (max-width: 1025px) {
  .tmpenvo-list-taxon-main {
    grid-template-columns: 1fr;
  }

  .tmpenvo-row-tab-1 {
    grid-template-columns: repeat(1, minmax(10%, 1fr));
  }

  .tmpenvo-row-tab-2 {
    grid-template-columns: repeat(2, minmax(10%, 1fr));
  }

  .tmpenvo-row-tab-3 {
    grid-template-columns: repeat(3, minmax(10%, 1fr));
  }

  .tmpenvo-row-tab-4 {
    grid-template-columns: repeat(4, minmax(10%, 1fr));
  }

  .tmpenvo-row-tab-5 {
    grid-template-columns: repeat(5, minmax(10%, 1fr));
  }

  .tmpenvo-row-tab-6 {
    grid-template-columns: repeat(6, minmax(10%, 1fr));
  }

  .tmpenvo-row-tab-7 {
    grid-template-columns: repeat(7, minmax(10%, 1fr));
  }

  .tmpenvo-row-tab-8 {
    grid-template-columns: repeat(8, minmax(10%, 1fr));
  }

  .tmpenvo-row-tab-9 {
    grid-template-columns: repeat(9, minmax(9%, 1fr));
  }

  .tmpenvo-row-tab-10 {
    grid-template-columns: repeat(10, minmax(9%, 1fr));
  }

  .tmpenvo-row-tab-11 {
    grid-template-columns: repeat(11, minmax(8%, 1fr));
  }

  .tmpenvo-row-tab-12 {
    grid-template-columns: repeat(12, minmax(6%, 1fr));
  }
}

/* Target Mobile Devices  */
@media only screen and (max-width: 500px) {
  .tmpenvo-list-taxon-main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3px 9px;
    width: 100%;
    margin: 3px 0px;
    background: #e8e8e8;
    border-radius: 5px;
  }

  .tmpenvo-row-mob-1 {
    grid-template-columns: repeat(1, minmax(10%, 1fr));
  }

  .tmpenvo-row-mob-2 {
    grid-template-columns: repeat(2, minmax(10%, 1fr));
  }

  .tmpenvo-row-mob-3 {
    grid-template-columns: repeat(3, minmax(10%, 1fr));
  }

  .tmpenvo-row-mob-4 {
    grid-template-columns: repeat(4, minmax(10%, 1fr));
  }

  .tmpenvo-row-mob-5 {
    grid-template-columns: repeat(5, minmax(10%, 1fr));
  }

  .tmpenvo-row-mob-6 {
    grid-template-columns: repeat(6, minmax(10%, 1fr));
  }

  .tmpenvo-row-mob-7 {
    grid-template-columns: repeat(7, minmax(10%, 1fr));
  }

  .tmpenvo-row-mob-8 {
    grid-template-columns: repeat(8, minmax(10%, 1fr));
  }

  .tmpenvo-row-mob-9 {
    grid-template-columns: repeat(9, minmax(9%, 1fr));
  }

  .tmpenvo-row-mob-10 {
    grid-template-columns: repeat(10, minmax(9%, 1fr));
  }

  .tmpenvo-row-mob-11 {
    grid-template-columns: repeat(11, minmax(8%, 1fr));
  }

  .tmpenvo-row-mob-12 {
    grid-template-columns: repeat(12, minmax(6%, 1fr));
  }
}
